body {
 
  background-color: #e7e6f7 ;
}
h1 {
  color: #822e81; /* Dark Blue */
 /*display: inline-block;*/
  margin-right:10px;
  font-size:4vw;
}


h2{ /* this is for profile page */
	color: #6A6A6A; /* Grey */
	font-family: "Tahoma";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
	margin-right:10px
}
p {
  color: #392061; /* Medium Blue */
}
center {
  color: red;
  font-family: "Comic Sans MS";
  font-size: 500%
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#meet{
	font-family: "Tahoma";
	color: #ff9999;
	font-size: 100%
}
#name {
	font-family: "Tahoma";
	color: #054A91; /* Dark Blue */
	font-size: 300%

}

.cat {
	text-align: left;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #3E7CB1; /* Medium Blue */
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.img-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.padding_edges{
    flex-grow: 0.5;
    flex-biased: 0;
}
.padding{
    flex-shrink: 2j;
    flex-basis: 10px;
}
img {
    flex-basis: 200px;
}
.clearfix {
  overflow: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}


body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #392061;
}

.topnav a {
  float: left;
  display: block;
  color:  #e2fcef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma;
  font-weight: bold;
}


.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #e2fecf;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #392061;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #e2fcef;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.active {
  background-color: #9b287b;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.img {
	width: 50%;
	height: 100%;
}
@media screen and (max-width: 600px) {
.img {
	width: 100%;
	}
}
span {}
@media screen and (min-width: 601px) {
	span {
			float: none;
		}
	}
@media screen and (max-width: 600px) {
	span {
		float: left;
		margin: 2%;
		}
	}

